:root {
    --primary: #0ed194;
    --text: #cbcbce;
    --light: #FFFFFF;
    --accent: #E23E75;
    --dark: #33333D;
    --dark-secondary: rgb(64, 64, 72);
    --border-color: #58585a;
    --max-width: 1200px;
}

html, body{
 margin: 0;
 padding: 0;
 background-color: var(--dark);
}
