:root {
    --primary: #02BA80;
    --text: #B0B0B3;
    --light: #FFFFFF;
    --accent: #E23E75;
    --dark: #33333D;
    --dark-secondary: rgb(64, 64, 72);
    --border-color: #58585a;
}

html, body{
 margin: 0;
 padding: 0;
 background-color: var(--dark);
}
