.card{
    background-color: var(--dark-secondary);
    border: var(--border-color) 1px solid;
    border-left: var(--primary) 4px solid;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 20px;
    color: var(--text);
}
.job-title{
    color: var(--primary);
    font-size: 18px;
    margin: 16px 0 4px 0;
}
.company-name{
    font-size: 14px;
    margin-bottom: 22px;
    font-size: 14px;
}
.location, .salary{
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 4px;
    font-size: 15px;
}
.job-highlights{
    margin-bottom: 4px;
}
.card:hover{
    border: var(--primary) 4px solid;
    cursor: pointer;
    /* background-color: rgb(110, 110, 120); */
}